lib/sdr/schemas/archive_digital_object.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="digital-object">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="digital-object-id"/>
        <xs:element type="xs:string" name="home-repository"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
